<!DOCTYPE html>
<html>

<head>
    <title>Hello World!</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
        <canvas id="c"></canvas>
    <script>
        let socket = io.connect('http://localhost:8080');
        let canvas = document.getElementById('c');
        let ctx = canvas.getContext('2d');
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        let x = Math.floor(Math.random() * canvas.width);
        let y = Math.floor(Math.random() * canvas.height);
        socket.emit('position', { x: x, y: y });
        $("body").keydown(function(e) {
            switch (e.keyCode) {
                case 87:
                y -= 10;
                break;
                case 83:
                y += 10;
                break;
                case 65:
                x -= 10;
                break;
                case 68:
                x += 10;
                break;
            }
            socket.emit('position', { x: x, y: y });
        })
        socket.on('positions', function(positions) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            for (var i = 0; i < positions.length; i++) {
                if (positions[i] !== null) {
                ctx.fillRect(positions[i].x, positions[i].y, 10, 10);
                }
            }    
        })

    </script>
</body>

</html>
